<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="moroccan-cities"></ion-back-button>
    </ion-buttons>
    <ion-title>Meknes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
    <ion-card-title>Meknes</ion-card-title>
    <ion-card-subtitle> economic pole in the region of Fès-Meknès </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content><img src="../../assets/icon/fes.jpg" alt="agadir">
      Meknes (Arabic: مكناس, romanized: maknās, pronounced [maknaːs]; Berber languages: ⴰⵎⴽⵏⴰⵙ, romanized: amknas; French: Meknès) is one of the four Imperial cities of Morocco, located in northern central Morocco and the sixth largest city by
       population in the kingdom. Founded in the 11th century by the Almoravids as a military settlement, Meknes became the capital of Morocco under the reign of Sultan Moulay Ismaïl (1672–1727), son of the founder of the Alaouite dynasty. Moulay Ismaïl created a massive imperial palace complex and endowed the city with extensive fortifications and monumental gates.[7] The city recorded a population of 632,079 in the 2014 Moroccan census.[6] It is the seat of Meknès Prefecture and an important economic pole in the region of Fès-Meknès.
    </ion-card-content>
    <ion-button expand="block" (click)="addResv()">Reservé</ion-button>
  </ion-card>
   
</ion-content>
