<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=" " defaultHref="moroccan-cities"></ion-back-button>
    </ion-buttons>
    <ion-title>Oujda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
    <ion-card-title>Oujda</ion-card-title>
    <ion-card-subtitle>Oriental Capital</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content><img src="../../assets/icon/oujdaa.jpg" alt="oujdaa">
      Oujda is the capital city of the Oriental region of northeastern Morocco and has a 
      population of about 558,000 people. It is located about 15 kilometres (9 miles) west of the
       Moroccan-Algerian border in the south of Beni-Znassen mountains and about 55 km (34 miles) 
      south of the Mediterranean Sea coast.
    </ion-card-content>
    <ion-button expand="block" color="secondary" shape="round" (click)="addResv()">Reserve</ion-button>
  </ion-card>
   
</ion-content>
