<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=" " defaultHref="moroccan-cities"></ion-back-button>
    </ion-buttons>
    <ion-title>Dakhla</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
    <ion-card-title>Dakhla</ion-card-title>
    <ion-card-subtitle> capital of the claimed </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content><img src="../../assets/icon/dakhla.jpg" alt="agadir">
      Dakhla (Arabic: الداخلة, Berber: Eddaxla / ⴷⴷⴰⵅⵍⴰ, Spanish: Dajla, Villa Cisneros) is a city in the disputed territory of Western Sahara,[2] currently occupied by Morocco.[3][4] It is the capital of the claimed Moroccan administrative region Dakhla-Oued Ed-Dahab. It has a population of 106,277[1] and is on a narrow peninsula of
       the Atlantic Coast, the Río de Oro Peninsula, about 550 km (340 mi) south of Laayoune.
    </ion-card-content>
    <ion-button expand="block" (click)="addResv()" shape="round" color="secondary">Reserve</ion-button>
  </ion-card>
   
</ion-content>
