<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=" " defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Moroccan Cities</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-button expand="round"  fill="outline" (click)="oujda()">
  <ion-icon name="heart"></ion-icon>
  Oujda
  <ion-icon name="heart"></ion-icon>
</ion-button>


<ion-button expand="round" fill="outline" (click)="rabat()">
  <ion-icon slot="start" name="heart" ></ion-icon>
  Rabat
  <ion-icon name="heart"></ion-icon>
</ion-button> 


<ion-button expand="round" fill="outline" (click)="casa()">
  <ion-icon slot="start" name="heart" ></ion-icon>
  Casablanca
  <ion-icon name="heart"></ion-icon>
</ion-button>

<ion-button expand="round" fill="outline" (click)="Fes()">
  <ion-icon slot="start" name="heart" ></ion-icon>
  Fes
  <ion-icon name="heart"></ion-icon>
</ion-button>

<ion-button expand="round" fill="outline" (click)="meknes()">
  <ion-icon slot="start" name="heart" ></ion-icon>
  Meknes
  <ion-icon name="heart"></ion-icon>
</ion-button>

<ion-button expand="round" fill="outline" (click)="agadir()">
  <ion-icon slot="start" name="heart" ></ion-icon>
  Agadir
  <ion-icon name="heart"></ion-icon>
</ion-button>


<ion-button expand="round" fill="outline" (click)="dakhla()">
  <ion-icon slot="start" name="heart" ></ion-icon>
  Dakhla
  <ion-icon name="heart"></ion-icon>
</ion-button>


<ion-button expand="round" fill="outline" (click)="tanger()">
  <ion-icon slot="start" name="heart" ></ion-icon>
  Tanger
  <ion-icon name="heart"></ion-icon>
</ion-button>


<ion-button expand="round" fill="outline" (click)="merzouga()">
  <ion-icon slot="start" name="heart" ></ion-icon>
  Merzouga
  <ion-icon name="heart"></ion-icon>
</ion-button>

<ion-button expand="round" fill="outline" (click)="souira()">
  <ion-icon slot="start" name="heart" ></ion-icon>
  Essaouira
  <ion-icon name="heart"></ion-icon>
</ion-button>

<ion-button expand="round" fill="outline" (click)="marrakech()"> 
  <ion-icon slot="start" name="heart" ></ion-icon>
  Marrakech
  <ion-icon name="heart"></ion-icon>
</ion-button>

<ion-button expand="round" fill="outline" (click)="laayoun()">
  <ion-icon slot="start" name="heart" ></ion-icon>
  Laayoun
  <ion-icon name="heart"></ion-icon>
</ion-button>

























<ion-content>

</ion-content>
