<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Moroccan Cities</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-button expand="round" fill="outline" (click)="oujda()">
  <ion-icon slot="start" name="star" ></ion-icon>
  Oujda
</ion-button>


<ion-button expand="round" fill="outline" (click)="rabat()">
  <ion-icon slot="start" name="star" ></ion-icon>
  Rabat
</ion-button> 


<ion-button expand="round" fill="outline" (click)="casa()">
  <ion-icon slot="start" name="star" ></ion-icon>
  Casablanca
</ion-button>

<ion-button expand="round" fill="outline" (click)="Fes()">
  <ion-icon slot="start" name="star" ></ion-icon>
  Fes
</ion-button>

<ion-button expand="round" fill="outline" (click)="meknes()">
  <ion-icon slot="start" name="star" ></ion-icon>
  Meknes
</ion-button>

<ion-button expand="round" fill="outline" (click)="agadir()">
  <ion-icon slot="start" name="star" ></ion-icon>
  Agadir
</ion-button>


<ion-button expand="round" fill="outline" (click)="dakhla()">
  <ion-icon slot="start" name="star" ></ion-icon>
  Dakhla
</ion-button>


<ion-button expand="round" fill="outline" (click)="tanger()">
  <ion-icon slot="start" name="star" ></ion-icon>
  Tanger
</ion-button>


<ion-button expand="round" fill="outline" (click)="merzouga()">
  <ion-icon slot="start" name="star" ></ion-icon>
  Merzouga
</ion-button>

<ion-button expand="round" fill="outline" (click)="souira()">
  <ion-icon slot="start" name="star" ></ion-icon>
  Essaouira
</ion-button>

<ion-button expand="round" fill="outline" (click)="marrakech()"> 
  <ion-icon slot="start" name="star" ></ion-icon>
  Marrakech
</ion-button>

<ion-button expand="round" fill="outline" (click)="laayoun()">
  <ion-icon slot="start" name="star" ></ion-icon>
  Laayoun
</ion-button>

























<ion-content>

</ion-content>
