<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=" " defaultHref="moroccan-cities"></ion-back-button>
    </ion-buttons>
    <ion-title>Rabat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
    <ion-card-title>Rabat</ion-card-title>
    <ion-card-subtitle>The Capital</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content><img src="../../assets/icon/rabat.jpg" alt="rabat">
      Rabat is the capital city of Morocco and the country's seventh largest city with an urban population
       of approximately 580,000 (2014)[2] and a metropolitan population of over 1.2 million. 
       It is also the capital city of the Rabat-Salé-Kénitra administrative region.[6] Rabat is located 
       on the Atlantic Ocean at the mouth of the river Bou Regreg, 
      opposite Salé, the city's main commuter town.
    </ion-card-content>
    <ion-button expand="block" shape="round" color="secondary" (click)="addResv()">Reservé</ion-button>
  </ion-card>
   
</ion-content>
