<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
     
    </ion-buttons>
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content class="ion-padding">
  <ion-avatar>
    <img src="../../assets/icon/aa.jpg">
  </ion-avatar> 
  <h1>Complete your informations</h1>
  <br>
   <form [formGroup]="registrationForm" (ngSubmit)="submit()">
     
      <ion-item>
        <ion-input formControlName="email"   required placeholder="Email"></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.email">
          <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
            <small class="error-message"> {{error.message}}</small>
          </ng-container>
      </div>

      <ion-item>
         <ion-input formControlName="password"     placeholder=" Password"></ion-input>
      </ion-item>
     
     <div *ngFor="let error of errorMessages.password">
      <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
        <small class="error-message"> {{error.message}}</small>
      </ng-container>
  </div>

     <ion-button   type="submit" expand="block" color="secondary"  shape="round" class="ion-margin-vertical">
      REGISTER
       
     </ion-button>
     <h6>Already have an account? <span routerLink="/login" routerDirection="forward">Sign-in</span></h6>
   </form>

   
</ion-content>
