<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
     
    </ion-buttons>
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content class="ion-padding">
  <ion-avatar>
    <img src="../../assets/icon/aa.jpg">
  </ion-avatar>
  <h1>Complete your informations</h1>
  <br>
  <ion-item>
    <ion-input  [(ngModel)]="email" type="email" required placeholder="Email"></ion-input>
  </ion-item>
  <br>
  <ion-item>
     
    <ion-input [(ngModel)]="password" required type="password" placeholder=" Password"></ion-input>
  </ion-item>
  <br>
  <ion-button expand="block" color="secondary"  shape="round" class="ion-margin-vertical" (click)="register()">REGISTER</ion-button>
 
  <h6>Already have an account? <span routerLink="/login" routerDirection="forward">Sign-in</span></h6>

   
</ion-content>
